DirectoryIndex index.php
RewriteEngine on
 
RewriteCond $1 !^(index\.php|(.*)\.swf|forums|images|avatar|crud|image|css|downloads|jquery|js|robots\.txt|components|favicon\.ico|ajaxcom|uploads|vendor|packages|fonts|.(eot|ttf|otf|woff))
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php?$1 [L,QSA]
